.place-order{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
    margin-top: 100px;
}
@media (max-width: 991px){
    .place-order{
        flex-direction: column;
    }
}
.place-order .place-order-left{
    width: 100%;
    max-width: max(30%,500px);
}
.place-order .place-order-left .title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}
.place-order .place-order-left .multi-fields{
    display: flex;
    gap: 10px;
}
.place-order .place-order-left input{
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    outline-color: var(--main-color);
}
.place-order .place-order-right{
    width: 100%;
    max-width: max(40%,500px);
}
/* the right side css */
.place-order .place-order-right .cart-total {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.place-order .place-order-right .cart-total .cart-total-details {
    display: flex;
    justify-content: space-between;
    color: #555;
}

.place-order .place-order-right .cart-total hr {
    margin: 10px 0px;
}

.place-order .place-order-right .cart-total button {
    border: none;
    color: white;
    background-color: var(--main-color);
    width: max(15vw, 200px);
    padding: 12px 0px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px;
}
