.food-item{
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00000015;
    transition: 0.3s;
    animation: fadeIn 1s;
}
.food-item .food-item-img-container{
    position: relative;
}
.food-item .food-item-img-container .food-item-image{
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
}
.food-item .food-item-img-container .food-item-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* makes all images fill the box equally */
    border-radius: 15px 15px 0 0;
}
.food-item .food-item-img-container .add{
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
    background-color: white;
}
.food-item .food-item-img-container .food-item-counter{
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color: white;
    font-variant-numeric: tabular-nums;/* keeps numbers equal width */
}
.food-item .food-item-img-container .food-item-counter .remove-icon{
    width: 18px;
    height: 18px;
    background-color: rgb(252, 153, 153);
    color: red;
    border-radius: 50%;
    cursor: pointer;
}
.food-item .food-item-img-container .food-item-counter .add-icon {
    width: 18px;
    height: 18px;
    background-color: rgb(214, 250, 159);
    color: green;
    border-radius: 50%;
    cursor: pointer;
}
.food-item .food-item-info{
    padding: 20px;
}
.food-item .food-item-info .food-item-name-rating{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.food-item .food-item-info .food-item-name-rating p{
    font-size: 20px;
    font-weight: 500;
}
.food-item .food-item-info .food-item-name-rating .rating{
    width: 80px;
    color: orange;
}
.food-item .food-item-info .food-item-desc{
    color: #676767;
    font-size: 12px;
    height: 40px;
}
.food-item .food-item-info .food-item-price{
    color: var(--main-color);
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0;
}