.add{
    width: 70%;
    margin-left: max(5vw,25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;
    margin-bottom: 50px;
}
.add form{
    gap: 20px;
}
.add .flex-col .add-image-upload img{
    width: 200px;
    cursor: pointer;
}
.add .flex-col .add-product-name,
.add .flex-col .add-product-description{
    width: max(40%,280px);
}
.add .flex-col .add-product-name input,
.add .flex-col .add-product-description textarea{
    padding: 10px;
}
.add .flex-col .add-category-price{
    display: flex;
    gap: 30px;
}
.add .flex-col .add-category-price select,
.add .flex-col .add-category-price input{
    max-width: 120px;
    padding: 10px;
}
.add .flex-col .add-btn{
    max-width: 120px;
    border: none;
    background-color: black;
    color: white;
    padding: 10px;
    cursor: pointer;
}