.sidebar{
    width: 18%;
    min-height: 100vh;
    border: 1.5px solid #a9a9a9;
    border-top: 0;
    font-size: max(1vw,10px);
}
.sidebar .sidebar-options{
    padding-top: 50px;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sidebar .sidebar-options .sidebar-option{
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid#a9a9a9;
    border-right: 0;
    padding: 8px 10px;
    border-radius: 3px 0 0 3px;
    cursor: pointer;
}
.sidebar .sidebar-options .sidebar-option.active{
    background-color: #fff0ed;
    border-color: tomato;
}
@media (max-width: 800px){
    .sidebar .sidebar-options .sidebar-option{
        justify-content: center
    }
}
@media (max-width: 800px) {
    .sidebar .sidebar-options .sidebar-option .add-option,
    .sidebar .sidebar-options .sidebar-option .order-icon{
        font-size: 15px;
        font-weight: 600;
    }
}
@media (max-width: 800px){
    .sidebar .sidebar-options .sidebar-option p{
        display: none;
    }
}