.order .order-list .order-item{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
    align-items: start;
    gap: 30px;
    border: 1px solid tomato;
    padding: 20px;
    margin: 30px 0;
    font-size: 14px;
    color: #505050;
}
@media (max-width:1000px){
    .order .order-list .order-item{
        font-size: 12px;
        grid-template-columns: 0.5fr 2fr 1fr;
        padding: 15px 8px;
    }
}
.order .order-list .order-item .order-item-food,
.order .order-list .order-item .order-item-name{
    font-weight: 700;
}
.order .order-list .order-item .order-item-name{
    margin-top: 30px;
    margin-bottom: 5px;
}
.order .order-list .order-item .order-item-address{
    margin-bottom: 10px;
}
.order .order-list .order-item select{
    background-color: #ffe8e4;
    border: 1px solid tomato;
    width: max(10vw,120px);
    padding: 10px;
    outline: none;
}
@media (max-width:1000px) {
    .order .order-list .order-item select{
        padding: 5px;
        font-size: 12px;
    }
}
.order .order-list .order-item .parcel_icon {
    width: 40px;
    height: 40px;
}
@media (max-width:1000px) {
    .order .order-list .order-item .parcel_icon{
        width: 40px;
    }
}