.footer{
    color: #d9d9d9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top: 100px;
}
.footer .footer-content{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}
@media(max-width:991px) {
    .footer .footer-content{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
}
.footer .footer-content .footer-content-left, .footer .footer-content .footer-content-center , .footer .footer-content .footer-content-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.footer .footer-content .footer-content-left{}
.footer .footer-content .footer-content-left img{
    width: 20%;
}
.footer .footer-content .footer-content-left .footer-social-icons{
    width: 100%;
    /* margin-right: 15px; */
}
.footer .footer-content .footer-content-left .footer-social-icons .icon{
    margin-right: 15px;
    font-size: 25px;
}
.footer .footer-content .footer-content-center li, .footer .footer-content .footer-content-right li{
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}
.footer .footer-content .footer-content-center h2,
.footer .footer-content .footer-content-right h2{
    color: white;
}
.footer .footer-content .footer-content-center{}
.footer .footer-content .footer-content-center {}
